language: python

python:
    - 2.7
    - 2.6
env:
    global:
        - PIP_WHEEL_COMMAND="pip install --find-links http://wheels.astropy.org/ --find-links http://wheels2.astropy.org/ --use-wheel --use-mirrors"
    matrix:
        - NUMPY_VERSION=1.7.1 ONLY_EGG_INFO=false ASTROPY_VERSION=development
        - NUMPY_VERSION=1.6.2 ONLY_EGG_INFO=false ASTROPY_VERSION=development
        - NUMPY_VERSION=1.8.0 ONLY_EGG_INFO=false ASTROPY_VERSION=development
        - NUMPY_VERSION=1.8.0 ONLY_EGG_INFO=false ASTROPY_VERSION=stable
        #- NUMPY_VERSION=1.5.1 ONLY_EGG_INFO=false
        #- NUMPY_VERSION=1.4.1 ONLY_EGG_INFO=false
    
before_install:
   # http://about.travis-ci.org/docs/user/gui-and-headless-browsers/
   - "export DISPLAY=:99.0"
   - "sh -e /etc/init.d/xvfb start"
   # We do this to make sure we get the dependencies so pip works below
   - sudo apt-get update 
   - sudo apt-get install python-numpy
   - sudo apt-get install cython 
   - sudo apt-get install libatlas-dev 
   - sudo apt-get install liblapack-dev 
   - sudo apt-get install gfortran
   - sudo apt-get install python-scipy 
   - sudo apt-get install tk8.5
   - sudo apt-get install python-tk
   - wget http://repo.continuum.io/miniconda/Miniconda-3.0.5-Linux-x86_64.sh
   - bash Miniconda-3.0.5-Linux-x86_64.sh -b
   #- if [[ $TRAVIS_PYTHON_VERSION == "2.6" ]]; then sudo apt-get install python2.6-tk; fi
   - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then sudo apt-get install python2.7-tk; fi
   - sudo apt-get build-dep python-matplotlib
   - sudo apt-get install python-matplotlib
   # Install the pip that supports wheel
   - pip install setuptools --upgrade
   - pip install pip --upgrade
   - pip install wheel
     
install: 
   - export PYTHONIOENCODING=UTF8 # just in case
   - pip install --upgrade Cython --use-mirrors
   - pip install --upgrade "numpy==$NUMPY_VERSION" -q --use-mirrors
   - $PIP_WHEEL_COMMAND "scipy==0.13.1"
   - $PIP_WHEEL_COMMAND "matplotlib==1.3.0"
   - pip install ordereddict --use-mirrors
   - if [[ $ASTROPY_VERSION == stable ]]; then pip -q install astropy; fi
   - if [[ $ASTROPY_VERSION == development ]]; then pip -q install git+http://github.com/astropy/astropy.git#egg=astropy; fi
   - python setup.py install # I guess?
script:
   - python setup.py test
