include README.rst
include CHANGES.rst
include LICENSE

include ez_setup.py
include ah_bootstrap.py
include setup.cfg

recursive-include *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

exclude *.pyc *.o
prune docs/_build
prune build

recursive-include astropy_helpers *
exclude astropy_helpers/.git
exclude astropy_helpers/.gitignore

include pyspeckit/config_default
include pyspeckit/spectrum/speclines/splatalogue.csv
include CHANGES
include REQUIREMENTS
include INSTALL.txt
