/* Pretty printing styles. Used with prettify.js. */

.str { color: #4F4; }
.kwd { color: #88F; }
.com { color: #F44; }
.typ { color: #A0A; }
.lit { color: #0AA; }
.pun { color: #AA0; }
.pln { color: #FFF; }
.tag { color: #00F; }
.atn { color: #A0A; }
.atv { color: #4F4; }
.dec { color: #A0A; }
pre.prettyprint { padding: 2px; border: 1px solid #FFF; }

@media print {
  .str { color: #0A0; }
  .kwd { color: #00A; font-weight: bold; }
  .com { color: #A00; font-style: italic; }
  .typ { color: #808; font-weight: bold; }
  .lit { color: #088; }
  .pun { color: #880; }
  .pln { color: #999; }
  .tag { color: #00A; font-weight: bold; }
  .atn { color: #808; }
  .atv { color: #0A0; }
}
